:root{
    --main-color: #9792E4; 
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* COMMON */
/* Layout */
.flex{
    display: flex;
}

.space-btw{
    justify-content: space-between;
}

.main-container{
    width: 100%;
    margin: 0 auto;
}

.medium-container{
    width: 100%;
    margin: 0 auto;
}

.wrap{
    flex-wrap: wrap;
}

section{
    padding: 20px 0;
}

/* Utilities */
.none{
    display: none;
}

.gap-15{
    gap: 15px;
}

.margin-btm-10{
    margin-bottom: 10px;
}

.w-90{
    width: 90%;
}

.background{
    background-color: var(--main-color);
}

/* HEADER */
.header{
    width: 100%;
    background-color: #0084fd;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
}

/* Desktop */
@media screen and (min-width: 992px) {
    
    .main-container{
        width: 50%;
    }

    .header-menu{
        display: block;
    }

    .header-menu-btn{
        display: none;
    }

}


/* MAIN */
/* Hero Section */
#hero-section .columns{
    width: 100%;
    padding: 8px;
}

#hero-section .card{
    background-color: #B5DDFF;
    border-radius: 10px;

    /* debug */
    height: 100px;
    /* border: 1px solid black; */
}


/* Tablet and Desktop */
@media screen and (min-width: 768px) {

    #hero-section .columns{
        width: calc(100% / 3);
    }

    #hero-section .first{
        width: calc(100% / 3 * 2 );
    }
}


/* Strategic Section */
#strategic-section .columns{
    width: 100%;
    padding: 8px;
}

#strategic-section .card{

    /* debug */
    height: 200px;
    border: 1px solid black;
}

/* Desktop */
@media screen and (min-width: 992px) {

    .medium-container{
        width: 40%;
    }

    #strategic-section .columns{
        width: 50%;
    }
    
}

/* FOOTER */