:root{
    --main-color: #9792E4;
    --black: black; 
    --blue: #0084FD;
    --light-blue: #B5DDFF;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    line-height: 1.5em;
}

/* COMMON */
/* Layout */
.flex{
    display: flex;
}

.space-btw{
    justify-content: space-between;
}

.main-container{
    width: 100%;
    margin: 0 auto;
}

.medium-container{
    width: 100%;
    margin: 0 auto;
}

.wrap{
    flex-wrap: wrap;
}

.align-end{
    align-items: end;
}

section{
    padding: 20px 0;
}

.txt-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.card{
    border-radius: 10px;
    padding: 20px 20px 0px;
}

@media screen and (min-width: 992px) {

    .main-container{
        width: 70%;
    }
    
}


/* Utilities */
.none{
    display: none;
}

.gap-15{
    gap: 15px;
}

.margin-btm-10{
    margin-bottom: 10px;
}

.px-10{
    padding: 0px 10px;
}

.background{
    background-color: var(--main-color);
}

.btn-small{
    padding: 0.5em 1em;
    border-radius: 20px;
}

.btn-large{
    padding: 10px 18px;
    border-radius: 20px;
}

.btn-circle{
    display: inline-block;
    border: none;
    background-color: var(--main-color);
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;

}


.c-black{
    color: var(--black);
}

h4{
    font-size: 1.4rem;
}

.bg-blue{
    background-color: var(--blue);
}

.c-white{
    color: white;
}

.bg-white{
    background-color: white;
}

.bg-lightblue{
    background-color: var(--light-blue);
}

.c-main-color{
    color: var(--main-color);
}


/* HEADER */
.header{
    width: 100%;
    background-color: #0084fd;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header-logo{
    align-items: center;
    width: 60px;
}

.header-menu-btn button{
    border: 0;
    background-color: transparent;
}

.menu-btn{
    color: white;
    font-size: 20px;
}



/* Desktop */
@media screen and (min-width: 992px) {

    .header-menu{
        display: block;
    }

    .header-menu-btn{
        display: none;
    }

}


/* MAIN */
.main{
    margin-top: 60px;
}
/* Hero Section */
#hero-section .columns{
    width: 100%;
    padding: 8px;
}



#hero-section .col-left,
#hero-section .col-right{
    width: 100%;
}

#hero-section *:not(.flex, .btn-large, img){
    padding-bottom: 25px;
}

#hero-section h4{
    color: var(--blue);
}

#hero-section .col-right img{
    margin-bottom: 0px;

}

#hero-section .icons{
    font-size: 4rem;
    color: var(--blue);
}

/* Tablet */
@media screen and (min-width: 768px) {

    #hero-section .main-container{
        display: flex;
        flex-wrap: wrap;
    }

    #hero-section .columns{
        width: calc(100% / 3);
    }

    #hero-section .first{
        width: calc(100% / 3 * 2 );
    }

    #hero-section .col-left{
        text-align: left;
    }

    #hero-section img{
        width: 50%;
    }

    #hero-section .card{
        height: 100%;
    }

}

/* Desktop */
@media screen and (min-width: 992px) {
    
    #hero-section .col-left,
    #hero-section .col-right{
        width: 50%;
    }

    #hero-section img{
        width: 100%;
    }
}


/* Strategic Section */
#strategic-section .columns{
    width: 100%;
    padding: 8px;
}

#strategic-section *:not(i, .btn-circle){
    padding-bottom: 25px;
}

/* Tablet */
@media screen and (min-width: 768px) {
    
    #strategic-section h3{
        font-size: 4rem;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {

    #strategic-section .medium-container{
        display: flex;
        width: 50%;
    }

    #strategic-section .columns{
        width: 50%;
    }

    #strategic-section h3{
        font-size: 2rem;6
    }

    #strategic-section .columns:last-child{
        align-self: flex-end;
        margin-top: 100px;
    }

    #strategic-section img{
        padding-bottom: 10px;
    }

    #strategic-section .bg-white img{
        width: 70%;
    }
    
}

/* Testimonial Section */
.testimonial{
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#testimonials-section h3 {
    font-size: 2.4rem;

}

#testimonials-section .text *{
    padding: 20px 0px;
}

.testimonial-name{
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.testimonial-img3{
    margin: 0 auto;
    background-image: url(../img/testimonial3.jpg);
    width: 50%;
    aspect-ratio: 1;
    background-position: 50% 50%;
    background-size: cover;
}

.testimonial-img2{
    margin: 0 auto;
    background-image: url(../img/testimonial2.jpg);
    width: 50%;
    aspect-ratio: 1;
    background-position: 50% 50%;
    background-size: cover;
}

.testimonial-img1{
    margin: 0 auto;
    background-image: url(../img/testimonial1.jpg);
    width: 50%;
    aspect-ratio: 1;
    background-position: 50% 50%;
    background-size: cover;
}

#testimonials-section [class*="img"]{
    border-radius: 50%;
}

/* Tablet */
@media screen and (min-width: 768px) {

    .testimonial{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #testimonials-section [class*="img"]{
        width: 20%;
    }

    .testimonial-desc{
        width: 70%;
        text-align: left;
    }
    
}

/* Benefit Section */
#benefit-section .columns{
    width: 100%;
    padding: 8px;
}

#benefit-section .card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    /* debug */
    /* height: 200px; */
    border: 1px solid black;
}

/* Tablet */
@media screen and (min-width: 768px) {

    #benefit-section .main-container{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    #benefit-section .columns{
        width: 50%;
    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {

    #benefit-section .columns{
        width: calc(100% / 3);
    }
    
}

/* About Us Section */
#about-us-section .columns-left,
#about-us-section .columns-right {
    width: 100%;
    padding: 8px;
}

#about-us-section .card{

    /* debug */
    /* height: 200px; */
    border: 1px solid black;
}

/* Tablet */
@media screen and (min-width: 768px) {

    #about-us-section .main-container{
        width: 50%;
    }

    #about-us-section .main-container{
        display: flex;
    }

    #about-us-section .columns-left{
        width: 70%;
    }

    #about-us-section .columns-right{
        width: 30%;
    }
    
}


/* CTA Section */
@media screen and (min-width: 768px) {

    #cta-section .main-container{
        width: 70%;
    }

}

/* Desktop */
@media screen and (min-width: 992px) {

    #cta-section .main-container{
        width: 40%;
    }
    
}

/* FOOTER */
.footer{
    background-color: #333333;
}

/* Tablet */
@media screen and (min-width: 768px) {
    
    .footer .main-container{
        width: 60%;
    }

}

/* Desktop */
@media screen and (min-width: 992px) {

    .footer .main-container{
        width: 30%;
    }
    
}